{% extends 'base.html' %}

{% block content %}
<div class="container-fluid ">
    <div class="row my-2">
        <div class="col">
           <!--  <h2 >{{blogtitle | upper}}</h2> -->
          <!--  <h2 >{{blogtitle | length}}</h2> -->
          <!-- <h2 >{{blogtitle | truncatewords:1}}</h2> -->
          <h2 >{{blogtitle|default:"no any posts"}}</h2>
         
          <!-- This will print the posts directly in the template -->
          

        </div>
       
    </div>
    <div class="row m-3">
        {% if posts %}
            {% for post in posts %}
                <div class="col-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <!-- Check if the post has an image, if not, show a placeholder image -->
                                    <img style="height :300,width:300" src="{{post.formattedimgurl}}" class="img-fluid" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <!-- Truncate title after 5 words and content after 100 characters -->
                                    <h5 class="card-title">{{ post.title|truncatewords:5 }}</h5>
                                    <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                      {% comment %}       <p>oiii{{postid}}</p> {% endcomment %}
                             <a type="button" class="btn btn-info" href="{% url 'attempt' postid=post.id %}">Go to quiz:{{post.week}}</a>  

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <p>no anything.</p>
        {% endif %}
    </div>
    
    
</div>
{%endblock%}