
           
    {% extends 'base.html' %}

    {% block content %}
   <body>
    <div class="container-fluid ">
        <div class="row my-2">
            <div class="col">
               <!--  <h2 >{{blogtitle | upper}}</h2> -->
              <!--  <h2 >{{blogtitle | length}}</h2> -->
              <!-- <h2 >{{blogtitle | truncatewords:1}}</h2> -->
              <h2 >{{blogtitle|default:"no any posts"}}</h2>
              <p>Number of posts: {{ posts|length }}</p>
              <p>Posts: {{ posts }}</p> <!-- This will print the posts directly in the template -->

            </div>
            <div class="col-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search">
                    <button class="btn btn-outline-light btn-primary " type="button" id="button-search">
                      <i class="bi bi-search"></i> <!-- Bootstrap Icons -->
                    </button>
                  </div>
            </div>
        </div>
        <div class="row m-3">
            {% if posts %}
                {% for post in posts %}
                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- Check if the post has an image, if not, show a placeholder image -->
                                        {% if post.image %}
                                            <img src="{{ post.image.url }}" class="img-fluid" style="height: 300px; width: 300px;" alt="{{ post.title }}">
                                        {% else %}
                                            <img src="https://via.placeholder.com/300" class="img-fluid" style="height: 300px; width: 300px;" alt="No Image Available">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-8">
                                        <!-- Truncate title after 5 words and content after 100 characters -->
                                        <h5 class="card-title">{{ post.title|truncatewords:5 }}</h5>
                                        <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <p>{{post.title}}.</p>
            {% endif %}
        </div>
        
        
    </div>
 
    

    
   

</body>



   



    {% endblock %}
  