<style>
    .anchor{
        margin:900px;
        bottom:600px;
        postion:sticky;
    }
</style>
<footer>
<a href="/home" class="anchor sticky-top>">
    <img src="https://c.tenor.com/CigpzapemsoAAAAC/hi-robot.gif" alt="Spell Checker" class="image-effect" style="width: 100px; height: 100px; object-fit: contain;">

    
</a>
</footer>

{% comment %} 
<div class="text-container1 footer" id="flowingText">SMARTEDUCATION</div>
<script>
    // Optional: You can change the text dynamically using JavaScript
    let textElement = document.getElementById('flowingText');

    // Example: Change the text after 3 seconds
    setTimeout(() => {
        textElement.textContent = "SMART EDUCATION";
    }, 3000);
</script> {% endcomment %}
